package code

import(
    "fmt"
)

type CodeProps struct {
    Language string 
}

templ Show(props CodeProps) {
    <pre>
        <code class={ fmt.Sprintf("language-%s", props.Language) }>
            { children... }
        </code>
    </pre>

}